.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-base {
    justify-content: baseline;
}

.align-center {
    align-items: center;
}

fg-1 {
    flex-grow: 1;
}


