/*------------------------------MODIFICANDO AS FONTES--------------------------------*/
/* p {
    font-family: 'Roboto', sans-serif;
} */


/*-------------------------COLOCANDO SOMBRA NOS ELEMENTOS----------------------------*/
/* body {
    text-align: center;
}

.card {
    width: 500px;
    border: 10px solid black;
    padding: 10px;
    box-shadow: 0px 0px 10px red, 0px 10px 10px 0px blue;
} */

