/* PÁGINA DESCONSIDERANDO O FOOTER E O HEADER */
.page {
    padding: 60px 165px 0px 165px;
}

/* HEADER */
.header__li {
    list-style-type: none;
}

.header__link {    
    text-decoration: none;
}

/* HERO-SECTION */
.hero-section__img {
    max-width: 100%;
}

/* ASIDE-SECTION */
.aside {
    min-width: 350px; 
}

.aside-description {  
    flex-grow: 0.3;

    border-top: 2px solid rgba(51, 50, 61, 0.15);
    border-bottom: 2px solid rgba(51, 50, 61, 0.15);
    mix-blend-mode: normal;
}

.aside__p {
    mix-blend-mode: normal;
    opacity: 0.8;
}

.aside__links {
    flex-grow: 0.2;
}

.aside__link-features {
    text-decoration: none;
}

/* MAIN-SECTION */
.main__p {
    mix-blend-mode: normal;
    opacity: 0.8;
}

.main__img {
    width: 100%;
    max-height: 53%;
}

/* NEXT-BACK */
.next-back {
    padding: 30px 0px;

    border-top: 2px solid rgba(51, 50, 61, 0.15);
    border-bottom: 2px solid rgba(51, 50, 61, 0.15);
    mix-blend-mode: normal;
}

.next-back__link {
    text-decoration: none;
}

.next-back__img {
    padding: 20px 0px;
}

.next-back__span {
    mix-blend-mode: normal;
    opacity: 0.5; 
}

