body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome {
    margin-top: 20px;
    margin-bottom: 30px;
}