/* HEADER */
.header {
    padding: 60px 165px 0px 165px;
}

.header__li {
    list-style-type: none;
}

.header__link {    
    text-decoration: none;
}

/* PÁGINA DESCONSIDERANDO O FOOTER E O HEADER */
.portfolio {
    padding: 60px 212px 0px 212px;
}

/* PORTFOLIO-SECTION */
.portfolio-section {
    height: 71vh;
}

.portfolio__img {
    max-width: 50vw;
}

.portfolio__description {  
    border-top: 2px solid rgba(51, 50, 61, 0.15);
    border-bottom: 2px solid rgba(51, 50, 61, 0.15);
    mix-blend-mode: normal;
}

.portfolio__p {
    mix-blend-mode: normal;
    opacity: 0.8;
}


