body {
    display: flex;
    flex-wrap: wrap;

    padding: 50px;

    gap: 10px;
}

.user {
    background-color: #c3c3c3;
    
    padding: 10px;
    border-radius: 8px;
    
    font-family: sans-serif;
}
