/* COLOR */
.color-white {
    color: #FFFFFF;
}

.color-Cyan { 
    color: #5FB4A2; 
}

.color-dark-blue {
    color: #203A4C;
}

.color-grayish-dark-blue {
    color: #33323D;
}

.color-very-light-gray {
    color: #FAFAFA;
}

.color-light-gray {
    color: #EAEAEB    ;
}

/* BACKGROUND-COLOR*/
.background-dark {
    background: #000000;
}

.background-dark-blue {
    background: #203A4C;
}

.background-very-light-gray {
    background: #FAFAFA;
}