/* FONT-FAMILY*/
.font-family-ibarra { font-family: 'Ibarra Real Nova', 'serif'; }
.font-family-public { font-family: 'Public Sans', 'sans-serif'; }

/* FONT-WEIGHT*/
.font-weight-normal { font-weight: normal; }
.font-weight-bold { font-weight: bold; }

/* FONT-SIZE*/
.fs-3 { font-size: 30px; }
.fs-4 { font-size: 40px; }
.fs-5 { font-size: 50px; }

/*--------------------------*/
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }

/* LINE-HEIGHT*/
.lh-3 { line-height: 30px; }
.lh-4 { line-height: 40px; }
.lh-5 { line-height: 50px; }

/*--------------------------*/
.lh-14 { line-height: 14px; }
