/* FLEX-DIRECTION*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* JUSTIFY-CONTENT*/
.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* ALIGN-ITEMS*/
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}



